<%-include('header')%>
    <body>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col col-sm-7 text-center">
                    <h2 style="padding-bottom: 20px;">버그 및 기능 제안 게시판</h2>
                    <table class="table table-responsive text-light">
                        <thead>
                            <tr class="d-flex">
                                <td class="col-8">
                                    <span><%= board.title %></span>
                                </td>
                                <td class="col-2"><%= board.nick %></td>
                                <td class="col-2">
                                    <% if(board.checked) { %>
                                        ✅
                                    <% } else { %>
                                        ❌
                                    <% } %>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-12" colspan="4">
                                    <span><%= board.content %></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
<%-include('footer')%>
</html>