<%-include('header')%>
    <body>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col">
                    <div class="row text-center" style="padding-bottom: 20px;">
                        <span>(*) <a href="/ranking/total">전체 기간 랭킹</a>은 매일, <a href="/ranking">현재 포지션 랭킹</a>은 5분마다 업데이트됩니다.</span>
                    </div>
                    <div class="row">
                        <div class="col-3 text-end">
                            <h4>#</h4>
                        </div>
                        <div class="col-5 text-center">
                            <h4>닉네임</h4>
                        </div>
                        <div class="col text-start">
                            <h4>수익률</h4>
                        </div>
                        <div class="col text-start">
                            <h4>수익금</h4>
                        </div>
                    </div>
                    <hr>
                    <% users.forEach((user, idx) => { %>
                    <div class="row" onclick="location=`/user/<%= user.nick %>`" style="cursor: pointer;">
                        <div class="col-3 text-end">
                            <h4><%= idx + 1 %>등</h4>
                        </div>
                        <div class="col-5 text-center">
                            <h4><%= user.nick %></h4>
                        </div>
                        <div class="col text-start">
                            <h4><%= user.total_profit %></h4>
                        </div>
                        <div class="col text-start">
                            <h4><%= user.profit %> 원</h4>
                        </div>
                    </div>
                    <% }) %>
                    <p></p>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-2"></div>
                        <div class="col">
                            <ins class="adsbygoogle"
                                style="display:inline-block;width:100%;height:90px"
                                data-ad-client="ca-pub-8915143481493434"
                                data-ad-slot="9212813481">
                            </ins>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
<%-include('footer')%>
</html>